/* REQUISITO 1 */ 
.header {
    background-color: rgb(50, 167, 145);
    height: 100px;
    border: 1px solid red;
    display: flex;
}

/* REQUISITO 2 */ 

/* REQUISITO 3 */ 

/* REQUISITO 4 */ 

/* REQUISITO 5 */ 

/* REQUISITO 6 */ 

/* REQUISITO 7 */ 

/* REQUISITO 8 */ 

/* REQUISITO 9 */ 

/* REQUISITO 10 */ 

/* REQUISITO 11 */ 

/* REQUISITO 12 */ 

/* REQUISITO 13 */ 

/* REQUISITO 14 */ 

/* REQUISITO 15 */ 

/* REQUISITO 16 */ 

/* REQUISITO 17 */ 

/* REQUISITO 18 */ 

/* REQUISITO 19 */ 

/* REQUISITO 20 */ 

/* REQUISITO 21 */ 

/* REQUISITO 22 */ 